body{
    background-color:bisque;
}

*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  padding: 0px;
  margin: 0px;
  
}

h1{
    color:black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
    text-align: center;
    font-size: 176%;
}

@media (min-width: 992px) {
    

    #section1 ,#section2 ,#section3{
        color: white;
    }
    #section1-inside, #section2-inside, #section3-inside{
        color: black;
    }

#Part-1 {
    position: relative;
    width: 31%;
    height: 400px;
    background-color: gray;
    margin-top: 30px;
    float: left;
    margin-left: 3px;
    border: 1px solid white;
    
}
#section1-inside{
    
    width: 40%;
height: 30px;
background-color: pink;
float: right;
text-align: center;

}
#section1-description{
    margin-bottom: 30px;
    clear: right;
    overflow: auto;
}
#Part-2 {
    position: relative;

    width: 31%;
    height: 400px;
    background-color:gray;
    margin-top: 30px;
    margin-left: 33px;
    float: left;
    
    
    border: 1px solid white;
        
}
#section2-inside{
    
    width: 40%;
height: 30px;
background-color: red;
float: right;
text-align: center;


}
#section2-description{
    margin-bottom: 30px;
    clear: right;
    overflow: auto;
    
}
#Part-3 {
    width: 31%;
    height: 400px;
    background-color: gray;
    margin-top: 30px;
    float: left;
    
    margin-top: 30px;
    border: 1px solid white;
    margin-left: 34px;
}
#section3-inside{
    
    width: 40%;
height: 30px;
background-color: white;
float: right;
text-align: center;

}
#section3-description{
    margin-bottom: 30px;
    clear: right;
    overflow: auto;
}
}
@media (min-width:768px) and (max-width: 991px){
   
   
    #section1 ,#section2 ,#section3{
        color: white;
    }
    #section1-inside, #section2-inside, #section3-inside{
        color: black;
    }
    #Part-1 {
        position: relative;
        width: 45%;
        height: 400px;
        background-color: gray;
        margin-top: 30px;
        float: left;
        margin-left: 20px;
        border: 1px solid white;
        
    }
    #section1-inside{
        
        width: 40%;
    height: 30px;
    background-color: pink;
    float: right;
    text-align: center;
    
    }
    #section1-description{
        margin-bottom: 30px;
        clear: right;
        overflow: auto;

    }
    #Part-2 {
        position: relative;
    
        width: 45%;
        height: 400px;
        background-color:gray;
        margin-top: 30px;
        margin-left: 30px;
        float: left;
        
        
        
        border: 1px solid white;
            
    }
    #section2-inside{
        
        width: 40%;
    height: 30px;
    background-color: red;
    float: right;
    text-align: center;
    
    }
    #section2-description{
        margin-bottom: 30px;
        clear: right;
        overflow: auto;
    }
    #Part-3 {
        
        width: 90%;
        height: 400px;
        background-color: gray;
        margin-top: 30px;
        float: left;
        
        margin-left: 30px;
       
        
        border: 1px solid white;
    }
    #section3-inside{
        
        width: 40%;
    height: 30px;
    background-color: white;
    float: right;
    text-align: center;
    
    
    }
    #section3-description{
        margin-bottom: 30px;
        clear: right;
        overflow: auto;
    }
    }

    @media (max-width:767px){
        
    #section1 ,#section2 ,#section3{
        color: white;
    }
    #section1-inside, #section2-inside, #section3-inside{
        color: black;
    }
        #Part-1 {
            position: relative;
            width: 90%;
            height: 400px;
            background-color: gray;
            margin-top: 30px;
            
            margin-left: 30px;
            border: 1px solid white;
            overflow: auto;
            
        }
        #section1-inside{
            
            width: 40%;
        height: 30px;
        background-color: pink;
        float: right;
        overflow: auto;
        text-align: center;
        
        
        }
        #section1-description{
            margin-bottom: 30px;
            clear: right;
            overflow: auto;
        }
        #Part-2 {
            position: relative;
        
            width: 90%;
            height: 400px;
            background-color:gray;
            margin-top: 30px;
            margin-left: 30px;
            overflow: auto;
            
            
            
            
            border: 1px solid white;
                
        }
        #section2-inside{
            
            width: 40%;
        height: 30px;
        background-color: red;
        float: right;
        overflow: auto;
        text-align: center;
        
        
        }
        #section2-description{
            margin-bottom: 30px;
            clear: right;
            overflow: auto;
        }
        #Part-3 {
            
            width: 90%;
            height: 400px;
            background-color: gray;
            margin-top: 30px;
            
            
            margin-left: 30px;
           
            
            border: 1px solid white;
            overflow: auto;
        }
        #section3-inside{
            
            width: 40%;
        height: 30px;
        background-color: white;
        float: right;
        overflow: auto;
        text-align: center;
        }
          
        #section3-description{
            margin-bottom: 30px;
            clear: right;
            overflow: auto;
        }
        
        
        
        
    }


